[submodule "libft"]
	path = libft
	url = https://github.com/znazam/libft.git
[submodule "GNL"]
	path = GNL
	url = https://github.com/znazam/GNL.git
[submodule "libvec"]
	path = libvec
	url = https://github.com/znazam/libvec.git
